html, body, #wrapper, body #sitebody {
	background:none;
	background-color:#fff;
}

body #shopping_bag, body #search, #nav, #breadcrumb, #footer ul { 
	display:none;
}

html, body, #masthead, #footer, #wrapper, body #sitebody { width:650px; }

#sitebody tr.subheading td, #sitebody th, #sitebody tr.row td, #sitebody tr.row_ab_a td, #sitebody tr.row_ab_b td {
	color:#333 !important;
	border:1px solid #999;
	background-color:#fff !important;
}

#sitebody .panel_utility {
	padding:10px 0px;
}