<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>EYESTYLE.COM.AU</title>
</head>
<body style="margin:0px auto 20px auto;font:11px Arial, Helvetica, Verdana, sans-serif;width:700px;text-align:center;color:#333;">
<div style="width:700px;margin:0px auto;text-align:left;">
<table border="0" cellpadding="10" cellspacing="0" width="100%">
	<tr valign="top">
		<td style="padding:20px 30px 5px 10px;">
			<img src="<tag:image_path />logo.gif" alt="Eyestyle " /><br /><br />
		</td>
		<td style="padding:40px 10px 5px 10px;text-align:right;font:12px Arial, Helvetica, Verdana, sans-serif;">
			ABN: <tag:abn /><br />
			<a href="http://www.eyestyle.com.au" style="color:#333;">http://www.eyestyle.com.au</a>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="font:12px Arial, Helvetica, Verdana, sans-serif;background-color:#fff;color:#808080;font-weight:bold;border-bottom:1px solid #ccc;padding-bottom:15px;">
			Eyestyle Password Reminder
		</td>
	</tr>
	<tr>
		<td colspan="2" style="font:12px Arial, Helvetica, Verdana, sans-serif;background-color:#f6f6f6;border-bottom:1px solid #999;">
			<p style="margin:0px 0px 10px 0px"><b>Hi <tag:name />,</b></p>
			<p style="margin:0px 0px 10px 0px">
				Below are your new account details:
			</p>
			<p style="margin:0px 0px 15px 0px">
				Registered Email: <span style="font-weight:bold;color:#333;"><tag:email /></span><br />
				Password: <span style="font-weight:bold;color:#333;"><tag:password /></span></p>
			<p style="margin:0px 0px 10px 0px">
				You can now login to Eyestyle with your new username and password by clicking on the link below:<br />
				<a href="<tag:login_link />" style="color:#333"><tag:login_link /></a>
			</p>
			<p style="margin:30px 0px 10px 0px">
				Best regards,<br/>
				Eyestyle 
			</p>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="padding:20px 10px;font-size:10px;color:#777;border-bottom:1px solid #ccc;">
			<p>
				To contact Eyestyle please go to <a href="<tag:site />contact.php" style="color:#333;"><tag:site />contact.php</a>.
			</p>
			<p>
				Visit our Terms & Conditions, Refund Policy and Delivery Policy if you have any questions.
			</p>
			<p>
				Terms & Conditions<a href="<tag:site />terms.php" style="color:#333;"><tag:site />terms.php</a><br />
				Refund Policy<a href="<tag:site />refund.php" style="color:#333;"><tag:site />refund.php</a><br />
				Delivery Details<a href="<tag:site />delivery.php" style="color:#333;"><tag:site />delivery.php</a>
			</p>
			<p>
				Copyright &copy; 2006 Eyestyle. All Rights Reserved. Designated trademarks and brands are the property 
of their respective owners. Eyestyle and the Eyestyle logo are trademarks of Eyestyle.
			</p>
		</td>
	</tr>
</table>
</div>
</body>
</html>