<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>EYESTYLE.COM.AU</title>
</head>
<body style="margin:0px auto 20px auto;font:11px Arial, Helvetica, Verdana, sans-serif;width:700px;text-align:center;color:#333;">
<div style="width:700px;margin:0px auto;text-align:left;">
<table border="0" cellpadding="10" cellspacing="0" width="100%">
	<tr valign="top">
		<td style="padding:20px 30px 5px 10px;">
			<img src="<tag:image_path />logo.gif" alt="Eyestyle" /><br /><br />
		</td>
		<td style="padding:40px 10px 5px 10px;text-align:right;font:12px Arial, Helvetica, Verdana, sans-serif;">
			ABN: <tag:abn /><br />
			<a href="http://www.eyestyle.com.au" style="color:#333;">http://www.eyestyle.com.au</a>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="font:12px Arial, Helvetica, Verdana, sans-serif;background-color:#fff;color:#808080;font-weight:bold;border-bottom:1px solid #ccc;padding-bottom:15px;">
			Order Status Change
		</td>
	</tr>
	<tr>
		<td colspan="2" style="font:12px Arial, Helvetica, Verdana, sans-serif;background-color:#f6f6f6;border-bottom:1px solid #999;">
			<p style="margin:0px 0px 10px 0px">
				<b>Dear <tag:billing_name />,</b>
			</p>
			<p style="margin:0px 0px 10px 0px">
				<tag:status_info /><br />
				You can also log on to our website (<a href="http://www.eyestyle.com.au" target="_blank" style="color:#333;">EYESTYLE.COM.AU</a>) to view your purchase history and order status. <br />
				Thank you again for your purchase.
			</p>
			<p style="margin:30px 0px 10px 0px">
				<a href="http://www.eyestyle.com.au" target="_blank" style="color:#333;">EYESTYLE.COM.AU</a>
			</p>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="padding:20px 10px;font-size:10px;color:#777;border-bottom:1px solid #ccc;">
			<p>
				To contact Eyestyle please go to <a href="<tag:site />contact.php" style="color:#333;"><tag:site />contact.php</a>.
			</p>
			<p>
				Visit our Terms & Conditions if you have any questions. 
				<br />You can view/change your registered details with
				Eyestyle simply by login into <a href="<tag:site />login.php" style="color:#333">My Account</a> section on eyestyle.com.au.
			</p>
			<p>
				Terms & Conditions: <a href="<tag:site />terms.php" style="color:#333;"><tag:site />terms.php</a><br />
			</p>
			<p>
				Copyright &copy; 2006 Eyestyle. All Rights Reserved. Designated trademarks and brands are the property 
of their respective owners. Eyestyle and the Eyestyle logo are trademarks of Eyestyle.
			</p>
		</td>
	</tr>
</table>
</div>
</body>
</html>